* {
    margin: 0;
}
html {
    height: 100%;
}

header, footer {
    font-size: 1rem;
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 10px;
    z-index: 2;
}

header {
    position: sticky;
    top: 0;
}

aside {
    width: 20%;
    float: right;
    top: 0;
    margin-left: 10px;
}
aside p {
    padding: 15px;
    border: 2px solid olive;
    margin: 10%;
} 

nav {
    width: 20%;
    position: sticky;
    float: left;
    margin-right: 10px;
    z-index: 1;
}

li {
    list-style-type: none;
}

a:hover{
    color:rgba(0, 126, 126, 0.801);
}

.sidebar {
    height: 100vh;
    background-color: linen;
    padding: 15px;
}

main {
    width: 60%;
    margin: auto;
    z-index: 0;
}

img {
    float: right;
    max-width: 60%;
    padding: 15px;
}

p {
    padding: 0px 0px;
    margin: 10px;
}

footer {
    position: fixed;
    bottom: 0;
}

@media (max-width: 750px) {
    html {
        width: 100%;
    }
    main {
        width: 90%;
        padding-bottom: 5rem;
    }
    nav {
        font-size: 1rem;
    } 
    /* width: 20%;
    position: sticky;
    float: left;
    margin-right: 10px; */
    ul {
        background-color: linen;
    }

    .sidebar, li {
        height: 10%;
        width: 100%;
        display: inline;
    }

    aside {
        width: 100%;
    }
    /* 
    aside {
    width: 20%;
    float: right;
    top: 0;
    margin-left: 10px;
}
aside p {
    padding: 15px;
    border: 2px solid olive;
    margin: 10%;
} 
*/
}