* {
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    background-color: #d5f4e6;
}

header, footer {
    color: rgb(255, 255, 255);
    background-color: #618685;
    width: 100%;
    text-align: center;
    padding: 10px;
    z-index: 2;
}

header, footer, aside, nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
}

aside {
    width: 20%;
    float: right;
    top: 0;
    margin-left: 10px;
}
aside p {
    font-weight: bold;
    padding: 20px;
    border: 2px solid #618685;
    border-radius: 2px;
    box-shadow: 0 0 8px 2px rgb(197, 196, 196);
    margin: 10%;
    background-color: #fefbd8;
} 

nav {
    width: 20%;
    position: sticky;
    float: left;
    margin-right: 10px;
    z-index: 1;
}

li {
    list-style-type: none;
}

a:hover{
    color:rgba(0, 126, 126, 0.801);
}

.sidebar {
    height: 100vh;
    background-color: linen;
    padding: 15px;
}

main {
    width: 60%;
    height: 100vh;
    padding: 5px;
    margin: auto;
    z-index: 0;
}

img {
    float: right;
    max-width: 60%;
    padding: 15px;
}

p {
    padding: 0px 0px;
    margin: 10px;
}
a {
    color: rgb(146, 76, 173);
}

footer {
    position: fixed;
    bottom: 0;
}

@media (max-width: 750px) {
    html {
        width: 100%;
    }
    main {
        width: 90%;
        padding-bottom: 5rem;
    }
    nav {
        font-size: 1rem;
        text-align: center;
        border-bottom: 2px solid darkgrey;
    } 
    /* width: 20%;
    position: sticky;
    float: left;
    margin-right: 10px; */
    ul {
        background-color: linen;
    }

    li {
        padding: 0 5px;
    }

    .sidebar, li {
        height: 10%;
        width: 100%;
        display: inline;
    }

    aside {
        width: 100%;
        text-align: center;
    }

    aside p {
        width: 200px;
        height: 20px;
        margin: auto;
        display: inline-block;
    }
}