* {
    margin: 0;
    box-sizing: border-box;
}

header {
    color: white;
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;

}

footer {
    background-color: black;
    position: sticky;
    bottom: 0;
    width: 100%;
    color:white;

}
ul {


}




}

a:hover{
    color:rgba(0, 126, 126, 0.801);



}
